* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    height: 30vh;

}

footer .flex-centre img {
    margin: 40px 10px 10px 10px;
}

footer div li {
    display: inline-block;
    margin: 65px 10px 00px 10px;
    text-decoration: none;
}

footer div p {
    align-self: center;
    margin-top: 20px;
}

header {
    background-color: #2874f0;
}

nav ul li {
    padding: 0px 10px;
    text-decoration: none;
    list-style: none;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.privacy-link {
    color: white;
}

.main_navbar {
    text-decoration: none;
    color: black;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #007bff;
    z-index: 1;
    height: 20%;
}

.submenu li {
    margin-left: 0;
}

.submenu a {
    display: block;
    padding: 10px;
    color: white;
}

.submenu a:hover {
    background-color: #0062cc;
    color: #fff;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
.sale {
    background-color: rgb(71, 7, 131);
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
    column-gap: 150px;
}

.s1 {
    animation-name: slide-left;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.s2 {
    animation-name: slide-left;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.s3 {
    animation-name: slide-left;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-400%);
    }
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 83px;
    padding: 0 25px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 450px;
    height: 30px;
    border-radius: 2px;
    margin: 0 15px 0 60px;
    padding: 0 12px;
}

.btn {
    background-color: white;
    padding: 1px 5px;
    border: 2px solid black;
    font-weight: 90;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: 37px auto;

}

.card-items {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 20px;


}

.cards {
    display: flex;
    overflow: hidden;
    background-color: aliceblue;
    margin: 15px 0;

}

.card-items img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.lines:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.flex-centre img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}
